<div class="" role="group" aria-label="select backend">

    <ul id="backend_list" class="ul_backend bigcheck">
        <li class="li_backend">
            <button type="button" id="backend_python" class="btn btn-lg btn-block btn-success">Python</button>
        </li>
        <li class="li_backend">
            <button type="button" id="backend_ctypes" class="btn btn-lg btn-block btn-success">CTypes</button>
        </li>
        <li class="li_backend">
            <button type="button" id="backend_cython" class="btn btn-lg btn-block btn-success">Cython</button>
        </li>
        <li class="li_backend">
            <button type="button" id="backend_ffi" class="btn btn-lg btn-block btn-success">Python FFI</button>
        </li>
        <li class="li_backend">
            <button type="button" id="backend_python_approximation" class="btn btn-lg btn-block btn-success">Python Approximation</button>
        </li>
    </ul>
</div>