{% extends "base.html" %}
{% block body %}
    <div class="row col-xs-12">
        Select the cities you want to travel between

    </div>

    <div class="row">
        <!-- 768 px == extra small. half macbook air screen == 720 -->
        <div class="col-xs-6 col-sm-3 mheight_300 pad_top_25" id="column_city_checkboxes">
            {% include "components/city_checkboxes.html" %}
        </div>
        <div class="col-xs-6 col-sm-3 mheight_300 pad_top_25" id="column_backend_selections">
            {% include "components/backend_selections.html" %}
        </div>
        <div class="col-xs-12 col-sm-6 mheight_300 pad_top_25" id="column_output">
            {% include "components/output.html" %}
        </div>
    </div>

{% endblock body %}